.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    min-height: 52px;
    width: 100%;
    transition: top 0.2s linear;
    border-bottom: 1px solid #393939;
}

.header__logo {
    .logo {
        display: flex;
        justify-content: center;
        margin: auto;
        height: 52px;
        width: 130px;
    }
}

.header__actions {
    border-left: 1px solid #393939;
    border-right: 1px solid #393939;
    padding: 10px;

    .header__favorites-list {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 16px;

        .icon-favorite {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            // margin-left: 8px;

            svg {
                width: 100%;
                fill: currentColor;
            }

            .count {
                position: absolute;
                top: -5px;
                right: -5px;
                font-size: 10px;
                color: #fff;
            }
        }
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}